body{
	width:90%;
	margin: 0 auto;
	text-align:center;
    background:url(Images/background3.jpg) no-repeat;
    background-size:cover;
    
    
	}

#content {	
overflow: auto;
margin:0;
padding:0;
}

#nav{

    padding-top:1%;
    padding-bottom:1%;
    background-color:#0061A9;
    width:100%;

    
}

h1{
    float:left;
    color:white;
    font-size:50px;
    margin-top:0;
    margin-left:1%;
    width:12%;
    text-transform: capitalize;
}


h1 a{
    text-decoration:none;
    color:white;
}



ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #0061A9;
    margin-left:;
    width:60%;
    margin-left:20%;
    text-transform:uppercase;
    
    
   
}

li {
    float: left;
    
   
    

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}


li a:hover {
    background-color: white;
    color:black;
    
}

#social{
    float:right;
    margin-right:1%;
    margin-top:1%;
}



.Slider {
    display:none;
    border-radius: 20px 20px 20px 20px;
    border: 4px solid white;
    
}

#foto1{
        width:50%;
    height:400px;
    background:#00A6A9;
    margin-top:4%;
} 

#foto2{
        width:50%;
    height:400px;
    background:#00A6A9;
    margin-top:4%;
    
}
#foto3{
    width:50%;
    height:400px;
    background:#00A6A9;
    margin-top:4%;
    
    
   
}

#foto4{
    width:50%;
    height:400px;
    background:#00A6A9;
    margin-top:4%;
}

.slides{
    animation:fading 7s infinite}
    @keyframes fading{0%{
    opacity:0}50%{
    opacity:1}100%{
    opacity:0}
}

#footer{
	background-color:#0061A9;
	text-align:center;
	text-transform:uppercase;
	font-weight: bold;
	width:100%;
	height:10%;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:2%;
    color:white;
    
	
}

p{
    color:white;
    margin-bottom:50px;
    font-size: 20px;
}


#foto1 img{
    margin-right:;
    margin-top:300px;
    width:30%;
     
    
}

#foto2 img{
    margin-right:;
    margin-top:300px;
    width:30%;
}

#foto3 img{
     margin-right:;
    margin-top:300px;
    width:30%;
    
}

#foto4 img{
   margin-right:;
    margin-top:300px;
    width:30%;
}



h2{
width:40%;
margin-left:30%;
color:white;
margin-top:-45%;
font-size:30px;
}


#server{
    margin-left:50%;
    margin-top:-390px;
}

    
#footer{
	background-color:#0061A9;
	text-align:center;
	text-transform:uppercase;
	font-weight: bold;
	width:100%;
	height:10%;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:10%;
    color:white;
    


	
}

.sitemap1{
	background:#0061A9;
	width:30%;
	height:260px;
	margin-top:10px;
	float:left;
    margin-left:4%;
    color:white;

}

.sitemap2{
	background:#0061A9;
	width:30%;
	height:290px;
    float:left;
    margin-top:10px;
    margin-left:1%;
    color:white;
}

.sitemap3{
	background:#0061A9;
	width:30%;
	height:260px;
	margin-top:10px;
    float:left;
    margin-left:1%;
    color:white;
}

dt a:hover{
	opacity:0.4;
	color:red;
}

dt a{
    color:White;
    text-transform: capitalize;
    font-size:20px;
}


#twitter{
    width:30%;
    float:right;
    margin-right:3%;

}